<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0_131" class="java.beans.XMLDecoder">
 <object class="com.maximuscooke.app.soccerboss.CDbConfigFile" id="CDbConfigFile0">
  <void property="map">
   <void method="put">
    <string>COUNTRY_DIR_KEY</string>
    <string>country</string>
   </void>
   <void method="put">
    <string>COUNTRY_PERSONNEL_DIR_KEY</string>
    <string>personnel</string>
   </void>
   <void method="put">
    <string>HOME_DIR</string>
    <string>/Users/davidcooke/dev/src/jvsoccerboss</string>
   </void>
   <void method="put">
    <string>RES_DIR</string>
    <string>res</string>
   </void>
   <void method="put">
    <string>PATH_SEPARATOR</string>
    <string>/</string>
   </void>
   <void method="put">
    <string>COUNTRY_CLUB_DIR_KEY</string>
    <string>club</string>
   </void>
  </void>
 </object>
</java>
